<div class="container">
    <div class="header row">
        <div class="title col-sm-8">
            <h3>Users List</h3>
        </div>
        <div class="grid-icon col-sm-4 d-flex justify-content-end align-items-center">
            <button mat-icon-button class="mat-icon-button" (click)="toggleView('grid')">
                <mat-icon title="Grid View" *ngIf="viewMode === 'list'">grid_on</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button" (click)="toggleView('list')">
                <mat-icon title="List View" *ngIf="viewMode === 'grid'">view_list</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-container">


                <div class="grid col-sm-12" *ngIf="viewMode === 'grid'">
                    <div class="row">
                        <div class="col-md-4 mb-3" *ngFor="let user of users">
                            <mat-card class="user-card-grid">
                                <mat-card-header class="mat-card-header-grid">
                                    <div mat-card-avatar class="user-avatar-grid">{{ user.name.charAt(0) }}</div>
                                    <h4 class="mb-1">{{ user.name }}</h4>
                                    <p>
                                        <ng-container *ngFor="let role of user.roles; let i = index">
                                            {{ role }}
                                            <span *ngIf="i !== user.roles.length - 1">, </span>
                                          </ng-container>
                                      </p>
                                    <p class="mb-1">{{ user.mail }}</p>                       
                                    <p> {{ user.disabled ? 'Active' : 'Inactive' }}</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <button mat-raised-button class="mat-raised-button"
                                            (click)="toggleDisabledStatus(user)">
                                            Update Status
                                    </button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                
                <div class="list col-sm-12" *ngIf="viewMode === 'list'">
                    <mat-list>
                        <mat-list-item *ngFor="let user of users">
                            <mat-card class="user-card mt-4">
                                <div class="user-info">
                                    <mat-card-header>
                                        <div class="details">
                                            <div class="user-details">
                                                <div mat-card-avatar class="user-avatar-list">{{ user.name.charAt(0) }}
                                                </div>
                                                <h4>{{ user.name }}</h4>
                                                <p class="mt-1">{{ user.mail }}</p>
                                            </div>

                                            <div class="role-status">
                                                <p class="u-role">
                                                    <ng-container *ngFor="let role of user.roles; let i = index">
                                                        {{ role }}
                                                        <span *ngIf="i !== user.roles.length - 1">, </span>
                                                      </ng-container>
                                                  </p>
                                                <p>Status: {{ user.disabled ? 'Active' : 'Inactive' }}</p>
                                            </div>
                                        </div>
                                    </mat-card-header>
                                </div>
                                <mat-card-content>
                                    <button mat-raised-button class="mat-raised-button"
                                        (click)="toggleDisabledStatus(user)">
                                        Update Status
                                    </button>
                                </mat-card-content>
                            </mat-card>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</div>
