
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.mat-icon-button {
    /* background-color: #fff; */
    background-color: #d6dBd9;
    border: none;
    text-decoration: none;
    stroke-width: 1.6px;
    color: #334155;

}



.main-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
}

.mat-list-item {
    height: 100%;
}

/* grid */

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.user-card-grid {
    height: 300px;
    width: 300px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #343337;
    border-color: rgb(64, 64, 69);
    /* padding: 10px 10px 0px 10px !important;  */
    border-radius: 5px;
    margin: 20px;
    border: 1px solid #d6dBd9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.user-avatar-grid {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: 30px;
}


.mat-card-header-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}



/* list */


.user-card {
    /* width: 1000px; */
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* background-color: #334155; */
    background-color: #343337;
    border: 1px solid #d6dBd9 !important;
    padding: 10px 10px 0px 10px !important;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.mat-card-header-grid p {
    font-size: .75rem;
    color: rgb(169, 169, 178) !important;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h4,
p {
    color: #fff;
}


.mat-card-subtitle {
    font-size: 14px;
    margin-right: 10px;
}


.user-avatar-list {
    /* margin-right: 16px; */
    margin-top: -6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-size: cover;
    font-size: 25px;
}


.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 100%;
    --mdc-list-list-item-two-line-container-height: 100%;
    --mdc-list-list-item-three-line-container-height: 100%;
    --mdc-list-list-item-label-text-font: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}





.user-info {
    display: flex;
    justify-content: space-between;
}


.user-avatar-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    width: 750px;
    justify-content: space-between;
}

.user-details {
    display: flex;
    justify-content: flex-start;

}

.user-details>* {
    margin-right: 10px;
}

.role-status {
    display: flex;
    justify-content: flex-end;
}

.role-status>* {
    margin-right: 10px;
}




/* button */
.mat-raised-button {
    border-radius: 5px;
    border-color: rgb(42, 172, 142);
    background: rgb(42, 172, 142);
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    padding: 8px 22px;
    height: 38px;
    line-height: 1.1;
    font-size: .95rem;
    transition: all .3s;
}

.mat-raised-button:hover{
    opacity: 0.9;
    background: rgb(5, 214, 158);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.u-role {
    border-radius: 50px;
    border-color: rgb(42, 172, 142);
    background: rgb(42, 172, 142);
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    padding: 5px 20px;
    height: 25px;
    line-height: 1.1;
    font-size: .85rem;
    transition: all .3s;

}


@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .user-card {
        width: 90%;
        max-width: none;
        margin-bottom: 20px;
    }
}